header {
  .header-top {
    z-index: 100;
    position: fixed;
    width: 100%;
    .portion-upper {
      background-color: rgba(#ffffff, 0.9);
      padding: 25px 0;
      .container {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .header-left {
        }
        .header-right {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
